#files:
#    "/etc/cron.d/kanban_laravel_cron":
#        mode: "000644"
#        owner: root
#        group: root
#        content: |
#            * * * * * root cd /var/app/current && php artisan schedule:run >> /dev/null 2>&1

#commands:
#  rm_old_cron:
#    command: "rm -fr /etc/cron.d/kanban_laravel_cron.bak"
#    ignoreErrors: true
